<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cura Healthcare Automation Suite">
    <listeners>
        <listener class-name="com.srm.curahealth.listeners.TestListener"/>
    </listeners>

    <test name="Authentication Tests">
        <classes>
            <class name="com.srm.curahealth.tests.AuthenticationTests"/>
        </classes>
    </test>
    

    <test name="Appointment Booking Tests">
        <classes>
            <class name="com.srm.curahealth.tests.AppointmentBookingTests"/>
        </classes>
    </test>

    <test name="Appointment History Tests">
        <classes>
            <class name="com.srm.curahealth.tests.AppointmentHistoryTests"/>
        </classes>
    </test>

    <test name="Multiple Appointment Tests">
        <classes>
            <class name="com.srm.curahealth.tests.MultipleAppointmentsTests"/>
        </classes>
    </test>

    <test name="Form Validation Tests">
        <classes>
            <class name="com.srm.curahealth.tests.FormValidationTests"/>
        </classes>
    </test>
</suite>
